name: Build

on:
  push:
    branches: [ master, main ]
    paths:
      - 'package.json'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run:  npm ci

      - name: Build
        run:  npm run build
        env:
          AMO_EXTENSION_ID: ${{ secrets.AMO_EXTENSION_ID }}

      - name: Pack
        run:  npm run pack

      - name: Publish to Firefox Addons store
        run:  npm run publish:amo
        env:
          AMO_API_KEY: ${{ secrets.AMO_JWT_ISSUER }}
          AMO_API_SECRET: ${{ secrets.AMO_JWT_SECRET }}
          AMO_EXTENSION_ID: ${{ secrets.AMO_EXTENSION_ID }}

      - name: Publish to Chrome Web Store
        run:  npm run publish:cws
        env:
          CWS_CLIENT_ID: ${{ secrets.CWS_CLIENT_ID }}
          CWS_REFRESH_TOKEN: ${{ secrets.CWS_REFRESH_TOKEN }}
          CWS_EXTENSION_ID: ${{ secrets.CWS_EXTENSION_ID }}
          CWS_CLIENT_SECRET: ${{ secrets.CWS_CLIENT_SECRET }}
